extends ./layout.jade

block content
  img.img-rounded(src='/images/bottles1.jpg', alt='Lasers', width='350', align='right', hspace='25')
  h1 About Us
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eum excepturi perspiciatis iste aspernatur, ipsa doloremque dolorum commodi dolores hic similique libero omnis minima aliquam praesentium ratione voluptate qui fugit.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos deleniti aliquid laboriosam soluta reprehenderit aperiam aspernatur delectus vero earum nobis explicabo nihil, mollitia voluptates temporibus perferendis quis reiciendis molestiae sapiente.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, possimus. Optio fuga voluptates velit, itaque sapiente placeat ipsum similique voluptas neque consectetur, ratione ut excepturi inventore, rem asperiores dignissimos odio!
  p
  .row
    .col-xs-3(align='center')
      img.img-circle(src='/images/male.jpg', alt='Hamlet', width='110')
    .col-xs-8
      h3 Hamlet
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio possimus rerum, eveniet ea magnam enim tempora voluptates fugit corporis nihil pariatur magni, quasi perspiciatis reprehenderit quo blanditiis dolorem dignissimos.
      p
  .row
    .col-xs-3(align='center')
      img.img-circle(src='/images/female.jpg', alt='Uthra', width='110')
    .col-xs-8
      h3 Uthra
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio possimus rerum, eveniet ea magnam enim tempora voluptates fugit corporis nihil pariatur magni, quasi perspiciatis reprehenderit quo blanditiis dolorem dignissimos.
      p
  .row
    .col-xs-3(align='center')
      img.img-circle(src='/images/male.jpg', alt='Jeff', width='110')
    .col-xs-8
      h3 Jeff
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio possimus rerum, eveniet ea magnam enim tempora voluptates fugit corporis nihil pariatur magni, quasi perspiciatis reprehenderit quo blanditiis dolorem dignissimos.
      p

  include includes/foot.jade