//-index.pug 
//-APP HOMEPAGE

doctype html
html
  include includes/head.pug
  h1 Lonely Table
  p Welocme to Lonely Table, the place for people without a lot of friends, but too much money.
    
    include includes/foot.pug