#fb_icon {
	position: absolute;
	top: 8px;
	right: 5px;
}

#filterDiv {
	background-color: rgba(0, 0, 255, 0.3);
	float: left;
}

#venueListDiv {
	background-color: rgba(0, 0, 255, 0.5);
}

.dropdown {
	position: absolute;
	left: 380px;
}