extends ../layout.jade

block content
	h1 New Reservation

	h4= //username
	h4= //venue name
	h4= //date & time
	h4 Max Capacity
	h4 Seats Available #{}
	h4 Min Pledge: #{minPledge}



	form(action='' method='POST')
		input(type="range" name='reservation[seats]' placeholder='Number of people reservation is for' min='1' max=_(maxCap)_ required)
		input(type='number' name='reservation[pledge]' placeholder='Pledged Amount' min=___(minPledge)___ required)
		input(type="submit" value='Submit')